<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <ecmDataProvider defaultProvider="sqlretry">
      <providers>
        <clear/>
        <add name="sqlretry" type="Sitecore.EmailCampaign.RetryDataProvider.RetrySqlDbEcmDataProvider, Sitecore.EmailCampaign.RetryDataProvider" connectionStringName="exm.master">
          <Logger type="Sitecore.ExM.Framework.Diagnostics.Logger, Sitecore.ExM.Framework" factoryMethod="get_Instance"/>
          <DelaySeconds>5</DelaySeconds>
          <RetryCount>3</RetryCount>
        </add>
        <add name="sqlbase" type="Sitecore.Modules.EmailCampaign.Core.Data.SqlDbEcmDataProvider, Sitecore.EmailCampaign" connectionStringName="exm.master">
          <Logger type="Sitecore.ExM.Framework.Diagnostics.Logger, Sitecore.ExM.Framework" factoryMethod="get_Instance"/>
        </add>
      </providers>
    </ecmDataProvider>
  </sitecore>
</configuration>
